{% extends "base.html" %}

{% block content %}
    <div class="col-md-12">
        <section class="panel panel-featured panel-featured-primary">
            <header class="panel-heading">
                <h2 class="panel-title">Бесплатный интерактивный курс английского</h2>

                {#                <p class="panel-subtitle">#}
                {#                    #}
                {#                </p>#}

            </header>
            <div class="panel-body">
                <p>
                    Представляем Вам интерактивный курс изучения английского от наших партнёров - компании
                    <a href="https://www.englishdom.com" target="_blank">ENGLISHDOM</a>.
                </p>
                <p>
                    Для начала обучения, Вам необходимо выполнить следующие действия:
                </p>
                <ol>
                    <li>
                        Перейти по специальной ссылке
                        &quot;<a href="https://www.englishdom.com/skype/?utm_source=inner&utm_medium=codefire&utm_content=7q9"
                            target="_blank">регистрация</a>&quot;
                        и зарегистрироваться в системе.
                    </li>
                    <li>
                        После регистрации,
                        Вам необходимо отправить письмо <i>(с почтового ящика, который использовали для регистрации)</i>
                        на адрес <a href="mailto:promo@englishdom.com">promo@englishdom.com</a> со следующим
                        текстом:<br/>
                        <span class="text-dark">Интерактив на 1 год по промокоду "codefire" для <i
                                class="text-semibold">&lt;email регистрации&gt;</i></span>.
                        <br/>
                        <i class="text-danger">*</i> Где <i class="text-semibold">&lt;email регистрации&gt;</i> почта, с
                        которой пользователь зарегистрировался в
                        <a href="https://www.englishdom.com" target="_blank">ENGLISHDOM</a>
                    </li>
                </ol>
                <p class="mt-md">
                    После активации учётной записи, Вы получаете доступ к курсу, и имеете возможность последовательно
                    проходить уроки курса.
                    По итогам, при желании, можно сдать экзамен, для получения сертификата школы <a
                        href="https://www.englishdom.com" target="_blank">ENGLISHDOM</a>,
                    подтверждающего владение языком на определенном уровне.
                </p>
                <p>
                    Обращаем так же Ваше внимание, что в случае необходимости, Вы имеете возможность воспользоваться
                    групповыми занятиями, либо индивидуальными с учителем.
                    Подобные занятия позволят Вам поднять Ваш уровень и закрепить навыки английского языка на практике.
                </p>
                <hr class="separator"/>
                <p>
                    Ещё один приятный "бонус" от наших партнёров <a href="https://www.englishdom.com" target="_blank">ENGLISHDOM</a>
                </p><p>
                    <i>При покупке 10 занятий курса "<a href="https://www.englishdom.com/skype/?utm_source=inner&utm_medium=codefire&utm_content=7q9">Английский по Skype</a>" - 2 занятия в подарок!<br /></i>
                </p><p>
                    Ссылка для регистрации нового студента: <a href="https://www.englishdom.com/skype/?utm_source=inner&utm_medium=codefire&utm_content=7q9">Английский по Skype</a>
                </p>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a class="btn btn-primary" target="_blank"
                           href="https://www.englishdom.com/skype/?utm_source=inner&utm_medium=codefire&utm_content=7q9">
                            Регистрация!
                        </a>
                    </div>
                </div>
            </footer>
        </section>
    </div>
{% endblock %}