{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-featured panel-featured-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">Файлы группы</h2>
                </header>
                <div class="panel-body">
                    <table class="table mb-none">
                        <thead>
                        <tr>
                            <th width="8%">Дата</th>
                            <th width="8%">Время</th>
                            <th>Название</th>
                            <th width="1%"><i class="fa fa-fw fa-info-circle"></i></th>
                            <th width="5%" class="text-center"><i class="fa fa-fw fa-barcode"></i></th>
                            <th width="15%" class="text-right">Размер</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if current_user.student.group %}
                            {% for file in current_user.student.group.files[::-1] %}
                                <tr>
                                    <td>{{ file.timestamp.strftime('%d.%m.%Y') }}</td>
                                    <td>{{ file.timestamp.strftime('%H:%M:%S') }}</td>
                                    <td><a href="/files/{{ file.checksum }}/{{ file.name }}">{{ file.name }}</a></td>
                                    <td>
                                    <span class="text-tertiary" data-toggle="tooltip" data-placement="top"
                                          title="{{ file.comment or 'Не подписано' }}">
                                        <i class="fa fa-fw fa-info"></i>
                                    </span>
                                    </td>
                                    <td class="text-center">
                                    <span class="text-tertiary" data-toggle="tooltip" data-placement="top"
                                          title="{{ file.checksum }}">md5</span>
                                    </td>
                                    <td class="text-right">
                                    <span data-toggle="tooltip" data-placement="top" title="{{ file.size }} bytes">
                                        {{ file.size_str() }}
                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
    {#    <script src="/assets/ajax/server.js"></script>#}
{% endblock %}