{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-featured panel-featured-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">Внешние ресурсы</h2>
                </header>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <h3>Development</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>28 cайтов с задачами по программированию</td>
                            <td><a href="https://tproger.ru/digest/competitive-programming-practice/" target="_blank">https://tproger.ru</a></td>
                        </tr>
                        <tr>
                            <td>Хабрахабр</td>
                            <td><a href="http://habrahabr.ru" target="_blank">http://habrahabr.ru</a></td>
                        </tr>
                        <tr>
                            <td>Stack Overflow</td>
                            <td><a href="http://stackoverflow.com" target="_blank">http://stackoverflow.com</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3>Android</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>Android Tools</td>
                            <td><a href="https://developer.android.com/sdk/" target="_blank">https://developer.android.com/sdk/</a></td>
                        </tr>
                        <tr>
                            <td>Android Trainings</td>
                            <td><a href="https://developer.android.com/training/" target="_blank">https://developer.android.com/training/</a></td>
                        </tr>
                        <tr>
                            <td>Android API Guides</td>
                            <td><a href="https://developer.android.com/guide/" target="_blank">https://developer.android.com/guide/</a></td>
                        </tr>
                        <tr>
                            <td>Android Design</td>
                            <td><a href="https://developer.android.com/design/" target="_blank">https://developer.android.com/design/</a></td>
                        </tr>
                        <tr>
                            <td>Start Android</td>
                            <td><a href="http://startandroid.ru" target="_blank">http://startandroid.ru</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3>HTML / CSS</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>W3 Schools</td>
                            <td><a href="http://www.w3schools.com" target="_blank">http://www.w3schools.com</a></td>
                        </tr>
                        <tr>
                            <td>Code Guide</td>
                            <td><a href="http://mdo.github.io/code-guide/" target="_blank">http://mdo.github.io/code-guide/</a></td>
                        </tr>
                        <tr>
                            <td>Bootstrap</td>
                            <td><a href="http://getbootstrap.com" target="_blank">http://getbootstrap.com</a></td>
                        </tr>
                        <tr>
                            <td>Bootstrap по русски</td>
                            <td><a href="http://mybootstrap.ru" target="_blank">http://mybootstrap.ru</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3>JavaScript</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>jQuery</td>
                            <td><a href="http://jquery.com" target="_blank">http://jquery.com</a></td>
                        </tr>
                        <tr>
                            <td>jQuery UI</td>
                            <td><a href="http://jqueryui.com" target="_blank">http://jqueryui.com</a></td>
                        </tr>
                        <tr>
                            <td>AngularJS</td>
                            <td><a href="https://angularjs.org" target="_blank">https://angularjs.org</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3>NodeJS</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>NodeJS</td>
                            <td><a href="https://nodejs.org" target="_blank">https://nodejs.org</a></td>
                        </tr>
                        <tr>
                            <td>NodeSchool</td>
                            <td><a href="http://nodeschool.io" target="_blank">http://nodeschool.io</a></td>
                        </tr>
                        <tr>
                            <td>Electron</td>
                            <td><a href="http://electron.atom.io" target="_blank">http://electron.atom.io</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
    {#    <script src="/assets/ajax/server.js"></script>#}
{% endblock %}