{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading bg-primary">
                <div class="panel-heading-icon">
                    <i class="fa fa-leanpub"></i>
                </div>
            </header>
            <div class="panel-body text-center">
                <h3 class="text-semibold mt-sm text-center">Добро пожаловать в систему CodeFire Education!</h3>

                <p class="text-center">
                    Вы зарегистрированы! В ближайшее время наш администратор назначит Вам роль и вы продолжите
                    использование системы.
                </p>
            </div>
        </section>
    </div>
{% endblock %}