<!DOCTYPE html>
<html class="fixed">
<head>
    <meta charset="UTF-8"/>

    <title>CodeFireUA Education Management Process System</title>

    <meta name="keywords" content="CodeFireUA Education Management Process System"/>
    <meta name="description" content="Education Management Process System">
    <meta name="author" content="CodeFireUA | http://www.codefire.com.ua/">

    <link rel="icon" href="/assets/images/favicon.png"/>
    <link rel="apple-touch-icon" href="/assets/images/favicon-apple-touch.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-apple-touch-precomposed.png"/>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css"/>
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/datepicker3.css"/>
    <link rel="stylesheet" href="/assets/vendor/pnotify/pnotify.custom.css"/>
    <link rel="stylesheet" href="/assets/vendor/select2/select2.css"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme.css"/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css"/>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="/assets/vendor/modernizr/modernizr.js"></script>
</head>
<body>

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo pull-left">
            <img src="/assets/images/logo.png" height="54" alt="CodeFireUA"/>
        </a>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Введите информацию
                </h2>
            </div>
            <div class="panel-body">
                <form onsubmit="return doAction('/profile', 'save', this);">
                    <div class="row">
                        <div class="col-sm-8">
                            {% if error %}
                                {% for err in error %}
                                    <div><b>{{ err }}</b> = <i>{{ error[err] }}</i></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mb-lg">
                        <label>Полное имя</label>
                        <input name="name" type="text" class="form-control" placeholder="Имя Фамилия"
                               value="{{ current_user.name }}"/>
                    </div>

                    <div class="form-group mb-lg">
                        <label>Контактный телефон</label>
                        <input class="form-control"
                               name="phone"
                               type="text"
                               data-plugin-masked-input
                               data-input-mask="+38 (099) 999-99-99"
                               placeholder="+38 (012) 345-67-89"/>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary"><i class="fa fa-save"></i> Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-center text-muted mt-md mb-md">
            <i class="fa fa-coffee"></i>
            <a href="http://www.codefire.com.ua/">CodeFireUA</a> \
            <span>2008 &ndash; {{ options.today.year }}</span>
        </p>
    </div>
</section>

<!-- end: page -->

<!-- Vendor -->
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="/assets/vendor/pnotify/pnotify.custom.js"></script>
<script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/assets/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/assets/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/assets/javascripts/theme.init.js"></script>

<script src="/assets/ajax/server.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        {% for notify in options.notify %}
            new PNotify({
                shadow: true{% for par in notify %},
            {{ par }}: {{ notify[par] | safe }}{% endfor %}
            }).get().click(function () {
            $(this).remove();
        });
        {% endfor %}
    });
</script>
</body>
</html>